extends layout/layout.pug

block content
  include utils/mixins.pug
  #archive
    .article-sort-title= _p('page.articles') + ' - ' + site.posts.length
    +articleSort(page.posts)
    include partial/pagination.pug
  //- #aside_content.aside_content
  //-     include partial/aside.pug
