extends layout/layout.pug

block content
  #recent-posts.recent-posts
    include partial/recent-posts.pug
    include partial/pagination.pug
  #aside_content.aside_content
    include partial/aside.pug