extends layout/layout.pug

block content
  include utils/mixins.pug
  #tag
    .article-sort-title= _p('page.tag') + ' - ' + page.tag
    +articleSort(page.posts)
    include partial/pagination.pug
  //- #aside_content.aside_content
  //-   include partial/aside.pug
