footer
  margin-top: 1rem
  // background: $light-blue
  // background-attachment: local

  &.footer-bg
    background-position: bottom
    background-size: cover


#footer
  padding: 1.2rem 1rem 1rem
  // color: $light-grey
  color: #555;
  text-align: center

  a
    // color: $light-grey
    color: #555;
    text-decoration: none
    cursor: pointer

    &:hover
      color: #409EFF

  .footer-separator
    margin: 0 0.2rem

  background-size: 200%;
  background-image: linear-gradient(
		to right,
		#bb313e25,
		#bb313e25,
		#d7222925,
		#dd4a1625,
		#e4761525,
		#f5c50025,
		#f0e92725,
		#b1ce2425,
		#48a93525,
		#03944525,
		#157c4f25,
		#176a5825,
		#1b556325,
		#1d386f25,
		#1d386f25,
		#20277825,
		#52266325,
		#8a244b25
	)

  animation: color 5s infinite
	@keyframes color
		0%
			background-position: 0% 50%
		50%
			background-position: 100% 50%
		100%
			background-position: 0% 50%
